*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    /* width: 100%; */
    height: 100vh;
    position: relative;
    background-color: red;
}
nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
}
nav div{
    display: flex;
    gap: 20px;
}
#search-bar{
    width: 20vmax;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    outline-color: lightblue;
}
#search-btn{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}
.container{
    height: 100%;
    background-color: bisque;
    display: flex;
}
.right{
    width: 55%;
    height: 100%;
    background-image: url("clear-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.r-content{
    width: 100%;
    height: 100%;
    padding:80px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    background: linear-gradient(transparent, #222);
    color: white;
}
#date{
    font-weight: 500;
    margin: 20px 0;
}
#temp{
    font-size: 6vmax;
}
#toggle-btn{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 0.8vmax;
}
.left{
    width: 45%;
    height: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1vh;
    color: white;
}
.l-content{
    width: 100%;
    height: 50%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#icon-box{
    width: 100%;
    height: 60%;
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-bottom: 1px solid #333;
}
#icon-box i{
    font-size: 7vmax;
    font-weight: 600;
    color: white;
}
#details{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
#details div{
    text-align: center;
    border-radius: 10px;
    background-color: #333;
    padding: 20px;
}

#forecast{
    width: 100%;
    height: 30vh;
    margin: 20px;
    background-color: pink;
}


@media (max-width: 991px) {
    nav{
        justify-content: center;
    }
    .container{
        flex-direction: column;
    }
    .right{
        width: 100%;
        height: 50vh;
    }
    .left{
        width: 100%;
        /* height: 50vh; */
        justify-content: center;
    }
    .l-content{
        flex-direction: row;
    }
    #icon-box{
        width: 30%;
        height: 100%;
        border: none;
    }
    #details{
        width: 70%;
        height: 100%;
        flex-wrap: wrap;
    }
}